/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #ff5c00;
  --secondary-color: #B10026;
}

body {
  /* overflow-x: hidden; */
  font-family: var(--primary-font);
  background: #F8FAFC;
}

.modal-open body {
  padding-right: 0 !important;
}

.modal-open body {
  padding-right: 0 !important;
}

html {
  overflow-x: hidden !important;
}
p{
  margin-bottom: 0 !important;
}
a{
  text-decoration: none;
}

.offcanvas-half {
  width: 70%; 
  max-width: 70%; 
}

.profile-manu{
border: 1px solid #fff;
padding: 10px;
border-radius: 50%;
}

/* navbar section start */

.header-scrolled {
  position: fixed !important;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  top: -80px !important;
  left: 0;
  width: 100% !important;
  transform: translateY(80px) !important;
  transition: transform 500ms ease, background 500ms ease !important;
  z-index: 99;
  background: var(--primary-color) !important;
}

.header-btn a{
  color: #fff !important; 
  background-color: #007bff; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}
.navbar{
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}


.navbar .nav-link{
  color: #fff !important;
  font-weight: 500;
  font-size: 18px;
}

/* sign-up form start */
.modal .custom-input{
  border: none;
  border-bottom: 2px solid var(--primary-color);
  height: 45px;
  border-radius: none;
}
.modal input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-control{
  border-radius: unset ;
}

.modal-header h5{
  color: var(--primary-color);
}

.signup-btn a{
  background-color: var(--primary-color); 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  text-decoration: none;
}

.login-btn a{
  text-decoration: none;
  color: var(--primary-color);
 font-weight: 500;
}
.form-check-input{
  border: 1px solid var(--primary-color);
}

.form-check-input:checked{
  background-color: var(--primary-color);
  border-color: var(--primary-color) !important;
}

.btn-close:focus{
  outline: none !important;
  box-shadow: none !important;
}
.forgot-password-link{
  text-decoration: none;
  color: var(--primary-color);
}
.form-check-label{
  color: var(--primary-color);
}


.google-login-btn{
  background-color: var(--primary-color); 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  text-decoration: none;
  width: 100%;
}

.google-login-btn a{
  text-decoration: none;
  color: #fff;
}
.navbar-brand img{
 width: 65px;
 object-position: top;
}

@media(max-width:991px){
  .banner-section .banner-img img{
   width: 80px !important;
  }
}


/* sign-up form end */



/* Offcanvas Menu Styles */
.offcanvas {
  background-color: #f8f9fa; 
  padding: 20px; 
}

.offcanvas-header {
  border-bottom: 1px solid #dee2e6; 
}

.offcanvas-title {
  font-weight: bold;
  font-size: 1.25rem; 
}

.nav-link {
  color: #333; 
}

.nav-link:hover {
  color: var(--primary-color); 
}

.btn-close {
  color: #333; 
}



/* banner-section start */
.banner-section .banner-img {
  position: relative;
}

.banner-section .banner-img img {
  width: 100% !important;
  height: 450px;
  object-fit: cover;
}

/* Overlay */
.banner-section .banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}
.banner-section .banner-img img {
  position: relative;
  z-index: 0;
}

.banner-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50% , -50%);
  z-index: 9;
  width: 100%;
}
.banner-info h1{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.banner-info p{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
@media(max-width:991px){
  .banner-info h1{
    font-size: 30px;
  }
}
@media(max-width:576px){
  .banner-info h1{
    font-size: 25px;
  }
}

@media(max-width:991px){
  .banner-section .banner-img img{
    height: 350px;
  }
}
/* banner-section end */

/* .footernav-section start */
.footernav-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15); 
  padding: 16px 20px; 
  z-index: 1000; 
  background: var(--primary-color);
}

@media(min-width:992px){
  .footernav-section{
    display: none;
  }
}

.footernav-section .footer-nav-box-main .footer-nav-box img{
  width: 30px;
}

/* .footernav-section end */

/* subscription-section start */
.subscription-section .subscription-section-tittle h5{
 font-weight: 500;
 font-size: 25px;
 color: var(--primary-color);
}

.subscription-section .sub-card-main{
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.sub-card-main .sub-card-tittle{
  background: var(--primary-color);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
} 

.sub-card-main .sub-card-tittle .sub-card-img img{
  width: 65px;
  border-radius: 15px;
  object-fit: cover;
  border: 1px solid #fff;
}
.sub-card-main .sub-card-tittle .sub-card-name h6{
 font-weight: 500;
 font-size: 17px;
 margin-bottom: 0;
 color: #fff;
}
.sub-card-main .sub-card-tittle .sub-card-name p{
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.sub-card-body {
  padding: 10px;
}

.sub-card-body h6{
  font-weight: 500;
  font-size: 17px;
  color: #000;
}
.sub-card-body p{
  color: #000;
}
.sub-card-body i{
  color: #000;
}

.sub-card-btn a {
  display: block;           
  width: 100%;             
  padding: 7px 15px;      
  text-decoration: none;    
  border-radius: 5px;       
  color: #fff;             
  text-align: center;       
  background-color: #f5f5f5;
  background: var(--primary-color);
}


.subscription-section .owl-nav button {
  width: 40px !important;
  height: 40px !important;
  color: #000 !important;
  border-radius: 50% !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid var(--primary-color) !important;
  transition: 0.3s all;
}
.subscription-section .owl-nav button:hover{
  background: var(--primary-color) !important;
}
.subscription-section .owl-nav button:hover i{
  color: #fff;
}
.subscription-section .owl-theme .owl-nav {
  position: absolute;
  right: 0%;
  top: -22%;
}

/* subscription-section end */

